In [171]:
from __future__ import division
import pandas as pd
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.cluster import KMeans

In [42]:
import sys
reload(sys)
sys.setdefaultencoding("utf-8")

In [120]:
ufo = pd.read_csv('data/ufodata.csv')

In [121]:
ufo.groupby('state').count()

       Unnamed: 0  occurred  city  shape  duration  desc
state
 m              6         6     6      0         0     6
,            1896      1896  1882   1793      1810  1896
0-              2         2     2      0         0     2
2               4         4     4      0         0     4
5               2         2     2      0         0     2
:3              2         2     2      0         0     2
:5              4         4     4      0         0     4
AB            233       233   233    231       227   233
AK            344       344   344    332       334   344
AL            605       605   605    589       593   605
AR            302       302   302    296       296   302
AZ           1968      1968  1968   1938      1922  1968
BC            256       256   256    250       250   256
CA           5359      5359  5359   5256      5253  5359
CO           1307      1307  1307   1295      1285  1307
CT            628       628   628    616       604   628
DC             32        32    32     32        32    32
DE            198       198   198    194       196   198
Ev              2         2     2      0         0     2
FL           3606      3606  3606   3543      3509  3606
GA           1156      1156  1156   1136      1132  1156
HI            292       292   292    284       286   292
IA            383       383   383    381       383   383
ID            603       603   603    597       602   603
IL           1153      1153  1153   1145      1107  1153
IN            735       735   735    723       718   735
KS            407       407   407    399       401   407
KY            512       512   512    506       497   512
LA            553       553   553    541       531   553
MA           1084      1084  1084   1076      1066  1084
...           ...       ...   ...    ...       ...   ...
PA           1880      1880  1880   1850      1845  1880
PE              2         2     2      2         2     2
PR              2         2     2      2         2     2
QC            106       106   106    102       106   106
RI            293       293   293    293       291   293
SA              2         2     2      2         2     2
SC           1091      1091  1091   1072      1078  1091
SD            149       149   149    145       149   149
SK             73        73    73     71        71    73
TN            866       866   866    853       840   866
TX           1589      1589  1589   1561      1535  1589
UT            591       591   591    579       589   591
VA           1050      1050  1050   1030      1029  1050
VT            266       266   266    262       264   266
WA           2061      2061  2061   2012      2025  2061
WI            980       980   980    968       952   980
WV            340       340   340    332       334   340
WY            141       141   141    139       139   141
YT             16        16    16     16        16    16
ca              2         2     2      0         0     2
co              2         2     2      0         0     2
di              2         2     2      2         0     2
e               4         4     4      2         0     4
ec              2         2     2      0         0     2
mi             79        79    79      0         0    79
oc              6         6     6      6         0     6
on              4         4     4      2         0     4
ra            127       127   127      0         0   127
se             27        27    27      0         0    27
ti              2         2     2      0         0     2

[85 rows x 6 columns]

In [123]:
states = ['wa', 'wi', 'wv', 'fl', 'wy', 'nh', 'nj', 'nm', 'na', 'nc', 'nd', 'ne', 'ny', 'ri', 'nv', 'gu', 'co', 'ca', 'ga', 'ct', 'ok', 'oh', 'ks', 'sc', 'ky', 'or', 'sd', 'de', 'dc', 'hi', 'pr', 'tx', 'la', 'tn', 'pa', 'va', 'vi', 'ak', 'al', 'as', 'ar', 'vt', 'il', 'in', 'ia', 'az', 'id', 'me', 'md', 'ma', 'ut', 'mo', 'mn', 'mi', 'mt', 'mp', 'ms']

ufo['state'] = ufo['state'].str.lower()

ufo['state'] = ufo['state'].apply(lambda x: x if x in states else None)

In [124]:
ufo['occurred_clean'] = pd.to_datetime(ufo['occurred'], errors='coerce')

In [116]:
ufo.drop('occurred', axis=1, inplace=True)

In [117]:
shapes = ufo['shape'].unique()[:-7]
ufo['shape'] = ufo['shape'].apply(lambda x: x if x in shapes else None)

In [125]:
min(ufo.occurred_clean)

Timestamp('1721-04-25 21:30:00')

In [110]:
ufo['desc'] = map(str, ufo.desc)

In [76]:
def tokenize():
    try:
        return [word_tokenize(content.decode()) for content in ufo['desc']]
    except:
        pass

In [77]:
ufo_tok = tokenize()

In [ ]:
stop = set(stopwords.words('english'))
docs = [[word for word in words if word not in stop]
        for words in ufo_tok]

In [ ]:
from nltk.stem.wordnet import WordNetLemmatizer
wordnet = WordNetLemmatizer()

In [ ]:
docs_wordnet = [[wordnet.lemmatize(word) for word in words]
                for words in docs]

In [ ]:
docs_wordnet[3:6]

In [79]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(ufo['desc'])
features = vectorizer.get_feature_names()

In [ ]:
top_centroids = kmeans.cluster_centers_.argsort()[:,-1:-11:-1]
print "top features for each cluster:"
for num, centroid in enumerate(top_centroids):
    print "%d: %s" % (num, ", ".join(features[i] for i in centroid))

In [87]:
ufo['shape'].unique()

array(['Light', 'Disk', 'Circle', 'Fireball', 'Unknown', 'Other',
       'Teardrop', 'Changing', 'Sphere', 'Oval', 'Triangle', 'Rectangle',
       'Diamond', 'Formation', None, 'Flash', 'Chevron', 'Cylinder', 'Egg',
       'Cross', 'Cigar', 'Cone'], dtype=object)

In [99]:
ufo['town'] = ufo.city + ufo.state

In [126]:
ufo['state'].unique()

array(['nm', None, 'tx', 'az', 'ne', 'ny', 'ks', 'or', 'ca', 'sc', 'ga',
       'oh', 'co', 'wi', 'la', 'ut', 'nj', 'ak', 'pa', 'il', 'wa', 'ma',
       'mo', 'mn', 'mi', 'nv', 'fl', 'al', 'in', 'md', 'id', 'ok', 'mt',
       'nc', 'hi', 'ky', 'me', 'nh', 'tn', 'ia', 'ri', 'vt', 'ar', 'ct',
       'ms', 'de', 'va', 'wy', 'sd', 'wv', 'nd', 'dc', 'pr'], dtype=object)

In [128]:
by_state = ufo.groupby('state').count()

In [130]:
by_state.head()

       Unnamed: 0  occurred  city  shape  duration  desc  occurred_clean
state
ak            344       344   344    332       334   344             338
al            605       605   605    589       593   605             599
ar            302       302   302    296       296   302             296
az           1968      1968  1968   1938      1922  1968            1958
ca           5361      5361  5361   5256      5253  5361            5335

In [131]:
by_state.drop('Unnamed: 0', axis=1, inplace=True)

In [132]:
by_state.head()

       occurred  city  shape  duration  desc  occurred_clean
state
ak          344   344    332       334   344             338
al          605   605    589       593   605             599
ar          302   302    296       296   302             296
az         1968  1968   1938      1922  1968            1958
ca         5361  5361   5256      5253  5361            5335

In [135]:
sightings_per_state = by_state[['occurred_clean']]

In [187]:
pop_data = pd.read_csv('/Users/CamillaNawaz/Google Drive/Galvanize/PEP_2016_PEPANNRES/PEP_2016_PEPANNRES_with_ann.csv')

In [188]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',}

In [189]:
for key, value in us_state_abbrev.iteritems():
    us_state_abbrev[key] = value.lower()

In [190]:
pop_data["GEO.display-label"].replace(us_state_abbrev, inplace=True)

In [191]:
pop_data.head()

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010
0,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010
1,0100000US,NaN,United States,308745538,308758105,309348193
2,0400000US01,01,al,4779736,4780131,4785492
3,0400000US02,02,ak,710231,710249,714031
4,0400000US04,04,az,6392017,6392301,6408312

In [192]:
sightings_per_state.head()

       occurred_clean state
state
ak                338    ak
al                599    al
ar                296    ar
az               1958    az
ca               5335    ca

In [193]:
pop_data.sort(columns='GEO.display-label', inplace=True)

In [194]:
pop_data = pop_data[['GEO.display-label', 'respop72010']]

In [203]:
pop_data.join(sightings_per_state['occurred_clean'], on=['GEO.display-label', 'state'])

ValueError: len(left_on) must equal the number of levels in the index of "right"

In [214]:
pop_data[3:]['respop72010']

3       714031
2      4785492
5      2921995
4      6408312
6     37332685
7      5048644
8      3579899
9       899816
11    18849098
12     9713521
13     1363945
17     3050738
14     1571010
15    12841578
16     6490528
18     2858850
19     4348662
20     4544996
23     6565524
22     5788584
21     1327730
24     9877495
25     5311147
27     5996118
26     2970322
28      990641
35     9558915
36      674526
29     1830051
31     1316872
32     8803729
33     2064756
30     2703284
34    19402640
37    11540983
38     3759603
39     3838048
40    12712343
41     1053337
42     4635943
43      816325
44     6356671
45    25244310
46     2775326
48     8025773
47      625982
49     6743226
51     5690263
50     1854230
Name: respop72010, dtype: object

In [212]:
sightings_per_state['occurred_clean']

state
ak     338
al     599
ar     296
az    1958
ca    5335
co    1301
ct     614
dc      32
de     196
fl    3586
ga    1144
hi     286
ia     381
id     595
il    1143
in     725
ks     404
ky     510
la     547
ma    1080
md     841
me     433
mi    1289
mn     811
mo     894
ms     287
mt     387
nc    1584
nd      86
ne     164
nh     558
nj    1050
nm     657
nv     632
ny    1917
oh    1504
ok     522
or    1407
pa    1868
pr       2
ri     293
sc    1091
sd     147
tn     858
tx    1579
ut     587
va    1040
vt     264
wa    2048
wi     974
wv     338
wy     141
Name: occurred_clean, dtype: int64

In [204]:
for state in pop_data['GEO.display-label']:
    if state == sightings_per_state['state']:
        try:
            sightings_per_state['occurred_clean'] / pop_data['respop72010']
        except:
            pass

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [205]:
sightings_per_state['occurred_clean']

state
ak     338
al     599
ar     296
az    1958
ca    5335
co    1301
ct     614
dc      32
de     196
fl    3586
ga    1144
hi     286
ia     381
id     595
il    1143
in     725
ks     404
ky     510
la     547
ma    1080
md     841
me     433
mi    1289
mn     811
mo     894
ms     287
mt     387
nc    1584
nd      86
ne     164
nh     558
nj    1050
nm     657
nv     632
ny    1917
oh    1504
ok     522
or    1407
pa    1868
pr       2
ri     293
sc    1091
sd     147
tn     858
tx    1579
ut     587
va    1040
vt     264
wa    2048
wi     974
wv     338
wy     141
Name: occurred_clean, dtype: int64

In [ ]:
pop_data

In [215]:
sightings_per_state['occurred_clean']/pop_data[3:]['respop72010']

2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
     ...
mi    NaN
mn    NaN
mo    NaN
ms    NaN
mt    NaN
nc    NaN
nd    NaN
ne    NaN
nh    NaN
nj    NaN
nm    NaN
nv    NaN
ny    NaN
oh    NaN
ok    NaN
or    NaN
pa    NaN
pr    NaN
ri    NaN
sc    NaN
sd    NaN
tn    NaN
tx    NaN
ut    NaN
va    NaN
vt    NaN
wa    NaN
wi    NaN
wv    NaN
wy    NaN
dtype: object